@use '../abstract/variable' as *;
@use '../abstract/mixin' as *;

.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: $desktop-max-width;
  height: 8rem;
  margin: 0 auto;
  padding: 2rem 0;

  .logo {
    flex: none;

    .title {
      display: inline-block;
      margin-right: 0.4rem;
      line-height: 1.45;
      vertical-align: middle;
      color: $white;
      font-family: Fuggles, cursive;
      font-size: 2.4rem;
      font-weight: 700;
    }
    @include imageWrapper(2, 2);
  }

  &-rnb {
    flex: none;
    margin-right: 1rem;
    margin-left: auto;

    nav {
      display: flex;
      gap: 1.2rem;
      align-items: center;
    }

    .rnb {
      &--link {
        display: inline-block;
        color: $white;
        text-decoration: none;

        strong {
          @include base-font-14(700);
        }
      }

      &-login {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        .btn-rnb {
          &-login {
            padding: 0;
            color: $white;
            .btn__label {
              font-weight: 600;
            }
          }
          &-logout {
            padding: 0;
            color: $white;
            .btn__label {
              font-weight: 600;
            }
          }
        }
      }

      &-profile {
        .profile-avatar {
          font-size: 5rem;
        }
      }
    }
  }
}
