@use '../abstract/variable' as *;
@use '../abstract/mixin' as *;

.profile {
  &-avatar {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &-img-wrapper {
    display: block;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border: 4px solid $secondary;
    border-radius: 100%;

    img {
      display: block;
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }

  &-info {
    @include font-16(700);
  }
}
