@use '../abstract/mixin' as *;
@use '../abstract/variable' as *;

.input {
  outline: 0;
  border: 0;
  display: inline-block;
  height: 100%;
  flex: 1 1 auto;

  &-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;

    &[data-size='full'] {
      width: 100%;
      .input-wrap {
        flex: 1 1 auto;
      }
    }

    &[data-size='large'] {
      .input-wrap {
        padding: 0.6rem 0.8rem;
        line-height: 1.42;
        font-size: 1.6rem;
      }

      .input-label {
        line-height: 1.42;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }

    &[data-size='medium'] {
      .input-wrap {
        padding: 0.4rem 0.6rem;
        line-height: 1.4;
        font-size: 1.4rem;
      }

      .input-label {
        line-height: 1.4;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    &[data-size='small'] {
      .input-wrap {
        padding: 0.2rem 0.4rem;
        line-height: 1.4;
        font-size: 1.2rem;
      }

      .input-label {
        line-height: 1.4;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    &[data-style-type='contained'] {
      .input-wrap {
        border-radius: 4px;
      }
    }

    &[data-style-type='rounded'] {
      .input-wrap {
        border-radius: 5rem;
      }
    }

    &[data-style-type='underline'] {
      .input-wrap {
        border-width: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }

    &[data-color='primary'] {
      .input {
        border-color: $primary;
      }
    }

    &[data-color='secondary'] {
      .input {
        border-color: $secondary;
      }
    }

    &[data-color='blue'] {
      .input {
        border-color: $blue-300;
      }
    }

    &[data-variant='withButton'] {
      .input-wrap {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
      }
      .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex: none;
      }
    }

    .error,
    .description {
      margin-top: 0.3rem;
      color: $gray-500d;
      line-height: 1.4;
      font-size: 1.2rem;
      width: 100%;
      flex: none;

      .icon.info {
        font-size: 1em;
        vertical-align: middle;
        margin-right: 0.3rem;
      }
    }
  }
  &-wrap {
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }
  &-label {
    margin-right: 0.4rem;
  }

  &--error {
    .input {
      border-color: $alert-red;
    }

    .error {
      color: $alert-red;
    }
  }
}
