#root,
#wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  .contents-wrapper {
    flex: 1 1 auto;
  }
}
